<launch>

  <!-- Load xm_robot's urdf -->
  <param name="robot_description" textfile="$(find dosubot_description)/urdf/dosubot.urdf" />

  <include file="$(find dosubot_hardware_controller_config)/launch/dosubot_hardware_joint_states.launch" />

  <include file="$(find dosubot_hardware_controller_config)/launch/dosubot_hardware_joint_trajectory.launch" />

  <node name="dosubot_hardware" pkg="dosubot_hardware" type="dosubot_hardware" output="screen" />

</launch>
