<launch>
	<param name="robot_description" command="cat $(find trobo_description)/urdf/trobo.urdf" />
        <!--node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" / -->

        <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
        <node name="state_publisher" pkg="trobo" type="state_publisher" />
	<node name="rviz" pkg="rviz" type="rviz" required="true" />
</launch>
