<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find dosubot_hardware_controller_config)/config/dosubot_hardware_joint_states.yaml" command="load" />

  <node name="joint_state_controller_spawner" pkg="controller_manager" type="spawner"
        respawn="false" output="screen" ns="/dosubot" args="joint_state_controller" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" 
	  type="joint_state_publisher" respawn="false" output="screen">
	<rosparam param="/source_list">[/dosubot/joint_states]</rosparam>
  </node>

  <!-- Convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen">
    <remap from="/joint_states" to="/dosubot/joint_states" />
  </node>

 

</launch>
